<h1 class="animated fadeIn fast">
    Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, elit sit amet tempus auctor, est leo venenatis nisi, sed blandit tortor augue in dui. Sed at finibus tortor, et accumsan odio. Curabitur quis lobortis dui. Cras sed risus sit amet
    nisi maximus sagittis in eu arcu. Nunc eget pellentesque justo, a faucibus augue. Duis eget viverra diam, eu congue quam. Etiam maximus ipsum nunc, non blandit dolor facilisis ut. In vel fringilla enim. Morbi posuere dui sed dui bibendum gravida.
    Suspendisse sollicitudin est vel ex mollis finibus. Phasellus eget rutrum est. Sed bibendum risus id enim congue dapibus. Maecenas vulputate et massa interdum malesuada. Morbi in imperdiet mi. In ut volutpat metus, ac fringilla eros. Suspendisse aliquet,
    massa sit amet auctor varius, urna risus blandit velit, at iaculis quam ex vitae lacus. In id orci sagittis, blandit diam ac, rhoncus massa. Vivamus ut condimentum erat, quis viverra tortor. Suspendisse ut libero eleifend, euismod metus ac, iaculis
    dui. Cras pretium eleifend vulputate. Nullam fringilla nec justo eu luctus.
</p>